<div class="mt-2">
<p class="text-primary pt-3">{{Heading}}</p>
</div>
<div class="row">
    <div class="col-sm-10 pricing-div">
        <div class="edition-card d-flex">
            <div class="edition-name-card" [ngClass]="ForAddonOnly ?'w-100':null">
                <div class="d-flex">
                    <i class="fa fa-box text-25 text-primary  mt-5 pr-3"></i>
                    <span>
                        <h2 class="text-success text-16 mt-2">{{SelectedEditionData.editionName}}</h2>
                        <h4 class="text-danger text-14">{{ProductName}}</h4>
                    </span>
                </div>
            </div>
            <div *ngIf="!ForAddonOnly">
                <div *ngIf="SelectedEditionData?.pricingtype?.length > 0" class="d-flex">
                    <div class="price-card cursor" *ngFor="let price of SelectedEditionData.pricingtype; let i =index"
                        (click)="EditionPriceChange(price, i)">
                        <p class="text-primary text-12 ml-3">{{price.name}}</p>
                        <p class="text-10 text-danger ml-3" *ngIf="price.discount > 0">$&nbsp;<s>{{price.price | number : '1.2-2'}}</s></p>
                        <p class="text-12 text-success ml-3">$&nbsp;{{price.price - (price.price*price.discount/100) | number : '1.2-2'}}</p>
                        <i class="fa fa-check text-12" *ngIf="price['selected']==true"></i>
                    </div>
                </div>
                <div *ngIf="!(SelectedEditionData?.pricingtype?.length > 0)">
                    <h4 class="text-primary mt-5 ml-3">{{'Free' | localize}} </h4>
                </div>
            </div>
        </div>
        <div *ngIf="SelectedAddonsData?.length > 0">
            <div class="edition-card d-flex" *ngFor="let addon of SelectedAddonsData; let i = index">
                <div class="edition-name-card">
                    <div class="d-flex">
                        <i class="fa fa-book text-25 text-success  mt-7 pr-3"></i>
                        <span>
                            <h2 class="text-success text-16 mt-4">{{addon.addOnName}}</h2>
                        </span>
                    </div>
                </div>
                <div *ngIf="addon?.addonPrice?.length > 0" class="d-flex">
                    <div *ngFor="let price of addon.addonPrice; let j = index">
                    <div class="price-card cursor" (click)="AddonPriceChange(addon, i, j)" 
                    *ngIf="!(SelectedEditionData?.pricingtype?.length > 0) || price.days <= selectedEditionPricingDays || ForAddonOnly">
                        <p class="text-primary text-12 ml-3">{{price.name}}</p>
                        <p class="text-10 text-danger ml-3" *ngIf="price.discount > 0">$&nbsp;<s>{{price.price | number : '1.2-2'}}</s></p>
                        <p class="text-12 text-success ml-3">$&nbsp;{{price.price - (price.price*price.discount/100) | number : '1.2-2'}}
                        </p>
                        <i class="fa fa-check text-12" *ngIf="price['selected']==true"></i>
                    </div>
                </div>
                </div>
                <div *ngIf="!(addon?.addonPrice?.length > 0)">
                    <h4 class="text-primary mt-5 ml-3">{{'Free' | localize}} </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 cart-div" *ngIf="isPaymentRequired">
        <!-- <hr style="width: 100%;" /> -->
        <div *ngIf="SelectedEditionData?.pricingtype?.length > 0 && !ForAddonOnly" class="row">
            <div class="col-sm">
            <span class="text-success">{{SelectedEditionData.editionName}}</span>
            <span class="text-primary float-right">$&nbsp;{{selectedEditionPricing["Price"] | number : '1.2-2'}}</span>
        </div>
        </div>
        <div *ngIf="selectedAddonPricing?.length > 0" class="row">
            <div *ngFor="let addon of selectedAddonPricing" class="col-sm">
                <span class="text-success">{{addon["AddonName"]}}</span>
                <span class="text-primary float-right">$&nbsp;{{addon["Price"] | number : '1.2-2'}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            <span class="text-success text-16 bold">{{' Total' |localize }}</span>
            <span class="float-right text-primary text-16 bold">$&nbsp;{{CalculateTotal() | number : '1.2-2'}}</span>
        </div>
        </div>
        <hr style="width: 100%;" />
        <div class="payment-card" (click)="!submitted && CreatePayment('CARD')">
            <span class="text-12">{{'CreditDebitCard' | localize }}</span><br />
            <span class="d-flex">
                <i class="fa fa-credit-card text-warning float-right"></i>
                <i class="fa fa-credit-card text-success ml-2 float-right"></i>
                <i class="fa fa-credit-card text-primary ml-2 float-right"></i>
            </span>
        </div>
        <div class="payment-card mt-2" (click)="!submitted && CreatePayment('NETBNK')">
            <span class="text-12">{{'NetBanking' | localize }}</span>
            <i class="pi pi-home text-warning float-right"></i>
        </div>
        <div class="payment-card mt-2" (click)="!submitted && CreatePayment('WALLET')">
            <span class="text-12">{{'Wallet' | localize }}</span>
            <i class="pi pi-wallet text-primary float-right"></i>
        </div>
        <div class="payment-card mt-2" (click)="!submitted && CreatePayment('UPI')">
            <span class="text-14">{{'UPI' | localize }}</span>
            <i class="pi pi-google text-primary float-right"></i>
            <i class="pi pi-amazon text-primary float-right ml-2"></i>
        </div>
        <p-progressSpinner *ngIf="submitted"></p-progressSpinner>
    </div>
    <div class="col-sm-2 cart-div" *ngIf="!isPaymentRequired">
        <div class="payment-card mt-2 bg-warning" (click)="!submitted && Checkout()">
            <span class="text-16">{{'Checkout' | localize }}</span>
            <i class="fa fa-bank text-warning float-right"></i>
        </div>
        <p-progressSpinner *ngIf="submitted"></p-progressSpinner>
    </div>
</div>