<div appBsModal #createOrEditIndustry="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditIndustry" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #IndustryForm="ngForm" novalidate (ngSubmit)="save(IndustryForm)"
                autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="createIndustry.inIndustryID">{{"EditIndustry" | localize}} :
                            {{currentIndustryName}}</span>
                        <span *ngIf="!createIndustry.inIndustryID">{{"CreateNewIndustry" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close(IndustryForm)" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" #IndustryId type="hidden" name="IndustryId"
                            [(ngModel)]="createIndustry.inIndustryID" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>{{"IndustryName" | localize}}*</label>
                        <input id="IndustryName" (keydown)="validations($event)" #IndustryNameInput="ngModel"
                            class="form-control" type="text" name="IndustryName"
                            [(ngModel)]="createIndustry.vcIndustryName" required maxlength="100">
                        <validation-messages [formCtrl]="IndustryNameInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>{{"Description" | localize}} </label>
                        <input id="Description" class="form-control" type="text" name="Description"
                            [(ngModel)]="createIndustry.vcDescription" maxlength="250">
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close(IndustryForm)">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!IndustryForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
