<div appBsModal #createOrEditProduct="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditProduct" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productForm="ngForm" novalidate (ngSubmit)="save(productForm)"
                autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="createProduct.inProductID">{{"EditProduct" | localize}} : {{currentProductName}}</span>
                        <span *ngIf="!createProduct.inProductID">{{"CreateNewProduct" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close(productForm)" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <input class="form-control" #productId type="hidden" name="productId"
                            [(ngModel)]="createProduct.inProductID" maxlength="50">

                    </div>
                    <div class="form-group">
                        <label>{{"ProductName" | localize}}*</label>
                        <input id="ProductName" (keydown)="Space($event)" #ProductNameInput="ngModel" class="form-control" type="text"
                            name="ProductName"  [(ngModel)]="createProduct.vcProductName" required maxlength="100">
                        <validation-messages [formCtrl]="ProductNameInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>{{"Description" | localize}} </label>
                        <input id="Description" class="form-control" type="text" name="Description"
                            [(ngModel)]="createProduct.vcDescription" maxlength="250">
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close(productForm)">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!productForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>

            </form>

        </div>
    </div>
</div>