<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <div class="row page-width">
            <div class="col-sm-3 px-0" *ngFor="let item of ProductEditionData; let i = index">
                <div class="card">
                    <div class="text-center">
                        <span *ngIf="item.editionId == 0">
                            <div class="d-flex flex-center position-relative mb-5 p-2">
                                <span
                                    class="svg svg-fill-primary opacity-4 position-absolute">
                                    <svg width="105" height="100">
                                        <polyline
                                            points="87,0 174,50 174,150 87,200 0,150 0,50 87,0">
                                        </polyline>
                                    </svg>
                                </span>
                                <span class="pricing-item-icon text-primary">
                                    <i class="fa fa-plus-circle" style="color: aliceblue;"></i>
                                </span>
                            </div>
                        </span>
                    
                    <span *ngIf="item?.editionId > 0">
                        <div class="d-flex flex-center position-relative mb-5 p-2">
                            <span
                                class="svg svg-fill-primary opacity-4 position-absolute">
                                <svg width="105" height="100">
                                    <polyline
                                        points="87,0 174,50 174,150 87,200 0,150 0,50 87,0">
                                    </polyline>
                                </svg>
                            </span>
                            <span class="pricing-item-icon text-primary">
                                <i class="fa {{item.icon}}"></i>
                            </span>
                        </div>
                    </span>
                </div>
                    <div>
                        <div style="margin-top: 2px;">
                            <select class="form-select" [(ngModel)]="item.productId" (change)="SelectedProduct(i)">
                                <option value="0">{{"SelectProduct" | localize}}</option>
                                <option *ngFor="let product of ProductList" [value]="product.id">{{product.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="" id="prod_group_1">
                            <select class="form-select" [(ngModel)]="item.editionId" (change)="SelectEdition(i)">
                                <option value="0">{{"SelectEdition"| localize}}</option>
                                <option *ngFor="let edition of item?.editionList; let editionIndex = index" [value]="edition.id" [disabled]="edition.disabled">{{edition.displayName}}
                                </option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="text-align: center;margin-top: 20px;">
            <button class="btn btn-success" style="width: 30%;" [buttonBusy]="compairing" [busyText]="l('CompairingWithThreeDot' | localize)" (click)="compare(ProductEditionData)">{{"Compare" |
                localize}}</button>
        </div>

        <div class="mt-5"
            *ngIf="ProductEditionCompareList != null && ProductEditionCompareList != undefined &&  ProductEditionCompareList.length > 0 ">
            <p-table [value]="[{}]">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th *ngFor="let item of ProductEditionCompareList ; let i = index">
                            <h2>{{item.editionName}}</h2>
                            <span>({{item.productName}})</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td>
                            <span class="text-success font-weight-bold font-size-h4">{{"Pricing" | localize}}</span>
                        </td>
                        <td *ngFor="let item of ProductEditionCompareList">
                            <span *ngIf="isFree(item.pricingData)" class="text-info font-size-h5 d-block d-block">
                                {{"Free" | localize}}
                            </span>

                            <span *ngIf="!isFree(item.pricingData)" class="pricingType-price">
                                <div class="d-flex justify-content-center" *ngFor="let price of item.pricingData; let i = index">
                                    <div *ngIf="i % 2 == 0" class="row no-gutters">
                                        <span id="price">
                                            {{appSession.application.currencySign}} {{price.price}} /
                                            {{price.typeName}} , &nbsp;
                                        </span>
                                        <span id="price" *ngIf="i + 1 < item.pricingData?.length">
                                            {{appSession.application.currencySign}}
                                            {{item.pricingData[i+1].price}} /
                                            {{item.pricingData[i+1].typeName}}
                                        </span>
                                    </div>
                                </div>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td><span class="text-success font-weight-bold font-size-h4">{{"Modules" | localize}}</span></td>
                        <td *ngFor="let item of ProductEditionCompareList">
                            <span class="d-flex text-success justify-content-center line-height-2" *ngFor="let module of item.modules">
                                <span class="d-flex">
                                    <!-- <i class="far fa-check-circle text-success text-left"></i> -->
                                    <span class="mx-2">{{module.moduleName}}</span>
                                </span>
                                <span *ngIf="module.subModule?.length > 0">
                                    <i  class="fa fa-info-circle cursor pl-3" aria-hidden="true" (click)="op.toggle($event)"></i>
                                    <p-overlayPanel #op appendTo="body" [style]="{width: '280px'}">
                                        <ng-template pTemplate>
                                            <ul>
                                                <li *ngFor="let subModule of module.subModule">
                                                    {{subModule.subModuleName}}
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </p-overlayPanel>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-id-no">
                            <span class="font-size-h4 text-info d-block d-block font-weight-bold">{{"IsTrialAvailable"
                                |
                                localize}}</span>
                        </td>
                        <td *ngFor="let item of ProductEditionCompareList" class="column-width">
                            <span *ngIf="item.trialDayCount == 0">
                                <i class="fas fa-times text-danger"></i>
                            </span>
                            <span *ngIf="item.trialDayCount > 0">
                                <i class="fas fa-check text-success"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="text-success font-weight-bold font-size-h4">{{"Addons" | localize}}</span></td>
                        <td *ngFor="let item of ProductEditionCompareList">

                            <span *ngIf="item?.addonList?.length > 0 else noAddons">
                                <div class="card mb-2 shadow-sm" *ngFor="let addon of item?.addonList; let k=index">
                                    <div class="card-header">
                                        <span class="addon text-primary pr-5">{{addon.addOnName}}</span>
                                        <span *ngIf="addon.moduleList?.length > 0">
                                            <i  class="fa fa-info-circle cursor" aria-hidden="true"
                                                (click)="addonModules.toggle($event)"></i>
                                            <p-overlayPanel #addonModules appendTo="body" [style]="{width: '280px'}">
                                                <ng-template pTemplate>
                                                    <ul>
                                                        <li *ngFor="let addonModule of addon.moduleList">
                                                            {{addonModule.moduleName}}
                                                            <ul *ngIf="addonModule.subModuleList?.length > 0">
                                                                <li *ngFor="let subModule of addonModule.subModuleList">
                                                                    {{subModule.subModuleName}}
                                                                    <ul *ngIf="subModule.subSubModuleList?.length > 0">
                                                                        <li
                                                                            *ngFor="let subSubModule of subModule.subSubModuleList">
                                                                            {{
                                                                            subSubModule.subModuleName}}
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </ng-template>
                                            </p-overlayPanel>
                                        </span>
                                    </div>
                                    <ng-container *ngIf="addon?.addonPrice?.length > 0">
                                        <div class="card-body d-flex justify-content-center"
                                            *ngFor="let price of addon.addonPrice; let i = index">
                                            <div *ngIf="i % 2 == 0" class="row no-gutters">
                                                <span id="price">
                                                    {{appSession.application.currencySign}}
                                                    {{price.price}} /
                                                    {{price.typeName}} , &nbsp;
                                                </span>
                                                <span id="price" *ngIf="i + 1 < addon.addonPrice?.length">
                                                    {{appSession.application.currencySign}}
                                                    {{addon.addonPrice[i+1].price}} /
                                                    {{addon.addonPrice[i+1].typeName}}
                                                </span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div class="card-body col addon-price" *ngIf="!(addon?.addonPrice?.length > 0)">
                                        {{"Free" | localize}}
                                    </div>
                                </div>
                            </span>
                            <ng-template #noAddons>
                                <span><i class="fas fa-times text-danger"></i></span>
                            </ng-template>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td *ngFor="let item of ProductEditionCompareList">
                            <button class="btn btn-success  btn-sm w-50"
                                        [routerLink]="['/account/register-tenant']"
                                        [queryParams]="{editionId: item.editionId, subscriptionStartType: subscriptionStartType.Free}"
                                        href="#" *ngIf="isFree(item.pricingData)">
                                        {{"Free" | localize}}
                                    </button>

                                    <button class="btn btn-warning btn-sm w-50"
                                        [routerLink]="['/account/register-tenant']"
                                        [queryParams]="{editionId: item.editionId, subscriptionStartType: subscriptionStartType.Trial}"
                                        href="#"
                                        *ngIf="!isFree(item.pricingData) && item.trialDayCount > 0">
                                        {{"FreeTrial" | localize}}
                                    </button>
                                    <button class="btn btn-primary  btn-sm w-50"
                                        [routerLink]="['/account/register-tenant']"
                                        [queryParams]="{editionId: item.editionId, subscriptionStartType: subscriptionStartType.Paid, editionPaymentType: editionPaymentType.NewRegistration}"
                                        href="#" *ngIf="!isFree(item.pricingData)">
                                        {{"BuyNow" | localize}}
                                    </button>
                            
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>