<div appBsModal #createOrEditServices="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditServices" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #ServicesForm="ngForm" novalidate (ngSubmit)="save(ServicesForm)"
                autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="createServices.inServiceID">{{"EditServices" | localize}} :
                            {{currentServiceName}}</span>
                        <span *ngIf="!createServices.inServiceID">{{"CreateNewServices" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close(ServicesForm)" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" #ServiceId type="hidden" name="ServiceId"
                            [(ngModel)]="createServices.inServiceID" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>{{"ServiceName" | localize}}*</label>
                        <input id="ServiceName" (keydown)="validations($event)" #ServiceNameInput="ngModel"
                            class="form-control" type="text" name="ServiceName"
                            [(ngModel)]="createServices.vcServiceName" required maxlength="100">
                        <validation-messages [formCtrl]="ServiceNameInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>{{"Description" | localize}} </label>
                        <input id="Description" class="form-control" type="text" name="Description"
                            [(ngModel)]="createServices.vcDescription" maxlength="250">
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close(ServicesForm)">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!ServicesForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
