<div [@routerTransition]>
    <div class="container">
        <p-accordion>
            <h5>{{"Products"}}</h5>
            <p-accordionTab *ngFor="let product of ProductWithEditionList; let pinedx = index"
                header="{{product.productName}}" [selected]="false">

                <div class="content d-flex flex-column flex-column-fluid">
                    <div [class]="containerClass" *ngIf="product?.edition?.length > 0 else elseBlock">
                        <div class="card card-custom gutter-b shadow-lg">
                            <div class="card-body">
                                <div class="row justify-content-center mt-10 mb-0 pricing-items">
                                    <div class="pt-30 pt-md-25 mb-15 text-left" style="min-width:200px"
                                        *ngFor="let editionWithFeatures of product.edition;  let i = index"
                                        [class.border-left-md]="i>0" [class.px-10]="i===0" [class.px-15]="i>0">
                                        <!--begin::Icon-->
                                        <div class="d-flex flex-center position-relative mb-25">
                                            <span class="svg svg-fill-primary opacity-4 position-absolute">
                                                <svg width="105" height="100">
                                                    <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0">
                                                    </polyline>
                                                </svg>
                                            </span>
                                            <span class="pricing-item-icon text-primary">
                                                <i class="fa {{editionIcons[i]}}"></i>
                                            </span>
                                        </div>
                                        <!--end::Icon-->
                                        <span
                                            class="font-size-h1 d-block d-block font-weight-boldest py-2 pricing-title">
                                            {{editionWithFeatures.editionName}}</span>
                                        <h4 class="font-size-h6 d-block d-block font-weight-bold mb-1 pricing-subtitle"
                                            *ngIf="isFree(editionWithFeatures.pricingtype)">

                                            <span> {{"Free" | localize}}</span>
                                        </h4>
                                        <h4 class="font-size-h6 d-block d-block font-weight-bold mb-1 pricing-subtitle"
                                            *ngIf="!isFree(editionWithFeatures.pricingtype)">
                                            <span> {{"Paid" | localize}}</span>
                                        </h4>

                                        <p class="d-flex flex-column mt-4" style="min-height: 100px;">
                                            <span *ngFor="let feature of editionWithFeatures?.module">
                                                <span class="text-success text-left">
                                                    <i class="far fa-check-circle text-success"></i>
                                                    {{feature.moduleName}}
                                                </span>
                                            </span>
                                        </p>
                                        <div class="card" *ngIf=" false && editionWithFeatures.addons?.length > 0">
                                            Addons
                                            <ul>
                                                <li *ngFor="let addon of editionWithFeatures.addons">
                                                    {{addon.addOnName}}
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- <button class="btn btn-warning btn-block btn-lg"
                                            (click)="upgrade(editionWithFeatures, editionPaymentType.Upgrade)"
                                            *ngIf="isUserLoggedIn">
                                            {{"Upgrade" | localize}}
                                        </button> -->

                                        <button class="btn btn-success btn-block btn-lg"
                                            [routerLink]="['/account/register-tenant']"
                                            [queryParams]="{editionId: editionWithFeatures.editionID, subscriptionStartType: subscriptionStartType.Free}"
                                            href="#" *ngIf="isUserLoggedIn && isFree(editionWithFeatures.pricingtype)">
                                            {{"Free" | localize}}
                                        </button>

                                        <button class="btn btn-warning btn-block btn-lg"
                                            [routerLink]="['/account/register-tenant']"
                                            [queryParams]="{editionId: editionWithFeatures.editionID, subscriptionStartType: subscriptionStartType.Trial}"
                                            href="#"
                                            *ngIf="isUserLoggedIn && !isFree(editionWithFeatures.pricingtype) && editionWithFeatures.trialDayCount > 0">
                                            {{"FreeTrial" | localize}}
                                        </button>

                                        <button class="btn btn-primary btn-block btn-lg"
                                            [routerLink]="['/account/register-tenant']"
                                            [queryParams]="{editionId: editionWithFeatures.editionID, subscriptionStartType: subscriptionStartType.Paid, editionPaymentType: editionPaymentType.NewRegistration}"
                                            href="#" *ngIf="isUserLoggedIn && !isFree(editionWithFeatures.pricingtype)">
                                            {{"BuyNow" | localize}}
                                        </button>
                                    </div>

                                    <div *ngIf="ProductWithEditionList == null || ProductWithEditionList?.length == 0">
                                        {{'NoData' | localize}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #elseBlock> {{'NoData' | localize}}</ng-template>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>