<div class="card card-custom h-100">
    <div class="card-header align-items-center border-0">
        <div class="card-title">
            <span class="card-icon">
                <i class="la la-bar-chart text-primary"></i>
            </span>
            <h3 class="card-label text-success">
                {{"TotalRevenue" | localize}}
                <small class="text-muted"></small>
            </h3>
        </div>
        <div class="card-toolbar">
            <button type="button" (click)="op.toggle($event)" class="btn btn-light-primary btn-filter btn-sm">
                <i class="fa fa-filter" ></i> 
            </button>
            <button hidden id="close">
    
            </button>
        </div>
    </div>

    <p-overlayPanel #op appendTo="body" [style]="{width: '280px'}" [dismissable] ="true">
        <label for="Product" class="checkbox">
            <input id="Product" type="checkbox" name="Product" (change)="onChangeCheckBoxvalue($event,'PRODUCT')" checked>
            <span></span>
            {{"Products" | localize}}
        </label>
        <label for="Packages" class="checkbox">
            <input id="Packages" type="checkbox" name="Packages"  (change)="onChangeCheckBoxvalue($event,'PACKAGE')">
            <span></span>
            {{"Editions" | localize}}
        </label> 
        <label for="StandAlone" class="checkbox">
            <input id="StandAlone" type="checkbox" name="StandAlone" (change)="onChangeCheckBoxvalue($event,'STANDALONE')">
            <span></span>
            {{"StandAlone" | localize}}
        </label>
    </p-overlayPanel>
    <div class="card-body"   [perfectScrollbar]>
        <ngx-charts-bar-vertical-2d *ngIf="totalRevenueData?.length > 0" [busyIf]="loadingTotalRevenueStatistics" 
            [results]="totalRevenueData" [showXAxisLabel]="true" showYAxisLabel="true" [xAxis]="true" [yAxis]="true"
            [showDataLabel]="true" [groupPadding]="0" [barPadding]="0" [yAxisTickFormatting]="yAxisTickFormattingFn">
        </ngx-charts-bar-vertical-2d>
        <div class="note note-info text-center chart" [hidden]="totalRevenueData?.length > 0">
            <small class="text-muted ">{{"NoData" | localize}}</small>
        </div>
    </div>
    
</div>