<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal"
     aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #priceApproachForm="ngForm" novalidate (ngSubmit)="save(PriceApproach)" autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="PriceApproach?.approachId >0">{{"EditPriceApproach" | localize}}: {{CurrentApproachName}}</span>
                        <span *ngIf="PriceApproach?.approachId==0">{{"CreateNewPricingApproach" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                         <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                            <div class="form-group">
                                <label>{{"ApproachName" | localize}} *</label>
                                <input  id="PricingApproachName" #ApproachNameInput="ngModel" class="form-control" type="text" 
                                name="name" [(ngModel)]="PriceApproach.approachName"  (keydown)="isAlphanumericAndAlphabet($event)" required maxlength="100">
                                <validation-messages [formCtrl]="ApproachNameInput"></validation-messages>
                         
                            </div>
                            <div class="form-group">
                                <label>{{"Description" | localize}} </label>
                                <input id="PricingApproachName"  class="form-control" 
                                type="text" name="description" #ApproachDescriptionInput="ngModel" [(ngModel)]="PriceApproach.description" pattern="^(?!\s*$).+" maxlength="250">
                                <validation-messages [formCtrl]="ApproachDescriptionInput"></validation-messages>
                            </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!priceApproachForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
