<div class="login-form" [@routerTransition]>
    <div class="pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
            {{"UserSignUp" | localize}}
        </h3>
    </div>

    <form #registerForm="ngForm" class="login-form form" method="post" novalidate 
    (ngSubmit)="save(registerForm)" autocomplete="off">

        <div class="col px-0 register-form">
            <div class="row">
                <div class="my-3 col-lg-4 col-md-6 col-sm-6 col-xs-6" *ngFor="let name of usertypes">
                    <div class="border px-4 divcolor ">
                        <input class="checkbox" type="checkbox" [name]="name" (change)="onChange($event,name)"
                        [checked]="name.id==model.userTypeId">
                    <span class="ml-2 checkboxText" id="checkName">{{name.name}}</span> 
                    </div>                  
                </div>
            </div>
        </div>
        <div class="form-group">
            <input #FirstNameInput="ngModel"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text"
                placeholder="{{'FirstName' | localize}} *" (keypress)="spaceBar($event) "[(ngModel)]="model.firstName" name="FirstName" required
                maxlength="64" (keypress)="_validationService.NameValidation($event)" />
            <validation-messages [formCtrl]="FirstNameInput"></validation-messages>
        </div>

        <div class="form-group">
            <input #LastNameInput="ngModel"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text"
                placeholder="{{'LastName' | localize}} *" (keypress)="spaceBar($event)" [(ngModel)]="model.lastName" name="LastName" required
                maxlength="64" (keypress)="_validationService.NameValidation($event)" />
            <validation-messages [formCtrl]="LastNameInput"></validation-messages>
        </div>

        <div class="form-group">
            <input #emailAddressInput="ngModel"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="email"
                placeholder="{{'EmailAddress' | localize}} *" [(ngModel)]="model.emailAddress" name="EmailAddress"
                required maxlength="256" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" />
            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
        </div>

        <div class="form-group">
            <input #UserNameInput="ngModel"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text"
                placeholder="{{'UserName' | localize}} *" (keypress)="spaceBars($event)" [(ngModel)]="model.userName" name="UserName" required
                maxlength="64" (keypress)="_validationService.NameValidation($event)" />
            <validation-messages [formCtrl]="UserNameInput"></validation-messages>
        </div>

        <div class="form-group">
            <input type="password" name="Password"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                [(ngModel)]="model.password" #Password="ngModel" placeholder="{{'Password' | localize}}"
                validateEqual="PasswordRepeat" reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit"
                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                [requiredLength]="passwordComplexitySetting.requiredLength" required pPassword
                [promptLabel]="l('PleaseEnterYourNewPassword')" [weakLabel]="l('weak')" [mediumLabel]="l('medium')"
                [strongLabel]="l('strong')">
        </div>

        <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
            <ul class="form-text text-danger" *ngIf="Password.errors">
                <li [hidden]="!Password.errors.requireDigit">{{"PasswordComplexity_RequireDigit_Hint" | localize}}
                </li>
                <li [hidden]="!Password.errors.requireLowercase">
                    {{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                <li [hidden]="!Password.errors.requireUppercase">
                    {{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                <li [hidden]="!Password.errors.requireNonAlphanumeric">
                    {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                <li [hidden]="!Password.errors.requiredLength">
                    {{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}
                </li>
            </ul>
        </div>
        
        <div class="form-group">
            <input type="password" name="PasswordRepeat"
                class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                [ngModel]="pass.passwordRepeat" #PasswordRepeat="ngModel" placeholder="{{'PasswordRepeat' | localize}}"
                validateEqual="Password" reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit"
                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                [requiredLength]="passwordComplexitySetting.requiredLength" required>
        </div>

        <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
            <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                <li [hidden]="!PasswordRepeat.errors.requireDigit">
                    {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                    {{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                    {{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">
                    {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                <li [hidden]="!PasswordRepeat.errors.requiredLength">
                    {{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}
                </li>
                <li [hidden]="PasswordRepeat.valid">{{"PasswordsDontMatch" | localize}}</li>
            </ul>
        </div>

        <div class="pb-lg-0 pb-5">
            <button [disabled]="saving" routerLink="/account/login" type="button"
                class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"><i
                    class="fa fa-arrow-left"></i>
                {{"Back" | localize}}</button>
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3"
                [disabled]="(saving || !registerForm.form.valid) || usertypes?.length == 0 || model?.userTypeId == null" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i
                    class="fa fa-check"></i> {{"SignUp" | localize}}</button>
        </div>
    </form>
</div>