.box{  
    margin-top: 40px;   
    justify-content: space-around;
    align-items: center; 
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1.75rem;
    
}
.divcolor{
    justify-content:inherit;
    background: #f2c98a;
    color: black;
    font-weight: 600;
    border-radius: 0px 10px 10px;
    box-shadow: 2px 2px 5px #888888;
}

.checkbox{
    position: relative;
    left: -56px;
    width: 100px;
}

#checkName{
    position: relative;
    top: -6px;
    right: -12px;
}

#check{
    border: 2px solid black;
}