<div appBsModal #createOrEditDepartment="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditDepartment" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #DepartmentForm="ngForm" novalidate (ngSubmit)="save(DepartmentForm)"
                autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="createDepartment.inDepartmentID">{{"EditDepartment" | localize}} :
                            {{currentDepartmentName}}</span>
                        <span *ngIf="!createDepartment.inDepartmentID">{{"CreateNewDepartment" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close(DepartmentForm)" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" #DepartmentId type="hidden" name="DepartmentId"
                            [(ngModel)]="createDepartment.inDepartmentID" maxlength="50">
                    </div>
                    <div class="form-group">
                        <label>{{"DepartmentName" | localize}}*</label>
                        <input id="DepartmentName" (keydown)="validations($event)" #DepartmentNameInput="ngModel"
                            class="form-control" type="text" name="DepartmentName"
                            [(ngModel)]="createDepartment.vcDepartmentName" required maxlength="100">
                        <validation-messages [formCtrl]="DepartmentNameInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>{{"Description" | localize}} </label>
                        <input id="Description" class="form-control" type="text" name="Description"
                            [(ngModel)]="createDepartment.vcDescription" maxlength="250">
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close(DepartmentForm)">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!DepartmentForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
